*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 0 30px;
    height: 50px;
    z-index: 100;
}

nav .items a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    margin: 0 20px;
    transition: all 0.2s ease-in;
}

nav .items a:hover{
    color: black;
}

nav .items.active{
    top: 50px;
}

nav .profil{
    display: flex;
    gap: 30px;
}

nav .profil h3{
    font-size: 24px;
}

nav .profil button{
    border: none;
    outline: none;
    font-size: 26px;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

@media (max-width: 804px) {
    nav .items{
        position: absolute;
        top: -140px;
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: rgb(75, 74, 74);
        transition: all 0.4s linear;
        z-index: -100;
    }
    nav .profil button{
        display: block;
    }
}